@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="container-fluid">
    <div class="card">
        <div class="content container-fluid">
            <div class="contact-profile">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <h3 class="page-title">Chi tiết bài tiết</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Bài viết</li>
                        </ul>
                    </div>
                    <div class="col-md-8 float-end ms-auto">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
   <form id="form-add-post" method="post">
    <div class="card" style="margin-top: -8px;">
        <div class="content container-fluid">
            <div class="row">
                <input type="hidden" id="add-id" name="id"/>
                <div class="col-sm-12 mb-3">
                    <label><b>Nhóm bài viết</b></label>
                    <div class="search_select_box">
                        <select style="width: 100%;" class="selectpicker border border-light-subtle rounded" id="newsParentSelect" data-live-search="true">
                            <!-- Các mục sẽ được thêm ở đây -->
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <label class="form-label"><b>Tiêu đề </b><span style="color:red">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="las la-font"></i></span>
                        <input type="text" class="form-control form-control-sm" id="title" name="title" placeholder="Nhập tiêu đề"/>
                    </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <label class="form-label"><b>Số thứ tự </b><span style="color:red">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="las la-font"></i></span>
                        <input type="text" class="form-control form-control-sm" id="orderIndex" name="orderIndex" placeholder="Số thứ tự"/>
                    </div>
                </div>
                    <div class="col-sm-12 mb-3">
                        <label class="form-label"><b>Nguồn</b></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="las la-link"></i></span>
                            <input type="text" class="form-control form-control-sm" id="source" name="source" value="https://thanhnien.vn/nhieu-truong-thu-tien-keu-goi-ho-tro-gay-buc-xuc-so-gd-dt-tphcm-len-tieng-185241011091624028.htm" placeholder="Nhập nguồn" />
                        </div>
                    </div>
                    
                    <div class="col-sm-12 mb-3">
                        <label class="form-label"><b>Ảnh bìa</b> (Kích thước ảnh 260 x 153)<span style="color:red"> *</span></label>
                        <div class="input-group">
                            <input name="avatar" type="file" id="avatar" class="form-control form-control-sm"
                                   onchange="validate()" accept="image/*"  />
                        </div>
                        <div class="error-message text-danger text-sm mt-1" id="error-avatar"></div>
                    </div>                
                <div class="col-sm-12 mb-3">
                    <label class="form-label"><b>Mô tả ngắn</b> <span style="color:red">*</span></label>
                    <textarea class="form-control form-control-sm" id="describle_short" name="describle_short"></textarea>
                </div>
                <div class="col-sm-12 mb-3">
                    <label class="form-label"><b>Nội dung</b> <span style="color:red">*</span></label>
                    <textarea class="form-control form-control-sm" id="content" name="content"></textarea>
                </div>
                 <div class="col-xl-12">
            <div class="col-sm-12 ml-4 mb-2 mt-3 mb-3 d-flex">
                <div class="col-sm-2">
                    <label class="form-label"><b>Ngày tạo : </b></label>
                </div>
                <div>
                    <span class="fw-bold">28-11-2023</span>
                    
                </div>
            </div>
        </div>
          <div class="col-xl-12">
            <div class="col-sm-12 ml-4 mb-2 mt-3 mb-3 d-flex">
                <div class="col-sm-2">
                    <label class="form-label"><b>Người tạo : </b></label>
                </div>
                <div>
                    <span class="fw-bold">HoangLan</span>
                    
                </div>
            </div>
        </div>
         <div class="col-xl-12">
            <div class="col-sm-12 ml-4 mt-1 mb-3 d-flex">
                <div class="col-sm-2">
                    <label class="form-label"><b>Tình trạng: </b></label>
                </div>
                <div>

                    <select style="width: 350px;" name="trangThai" class="select floating select2-hidden-accessible" data-select2-id="select2-data-4-dijy" tabindex="-1" aria-hidden="true">
                            <option value="true">Xuất bản</option>
                            <option value="false">Ngừng xuất bản</option>
                        </select>           
                </div>
            </div>
        </div>
                <div class="col-sm-12 mb-3">
                    <input class="form-check-input" type="checkbox" id="is_hightlight">
                    <label class="form-check-label" for="is_hightlight">Nổi bật</label>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end mt-1 mb-1">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</form>
</div>


<script src="~/js/jquery-3.7.1.min.js"></script>

<script>
function initializeSummernote(selector) {
    $(selector).summernote({
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert', ['picture', 'link', 'video', 'table', 'hr']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ],
        height: 300,
        fontSizes: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '20', '24', '36'],
    });
}

$(document).ready(function() {
    // Khởi tạo Summernote cho nội dung
    initializeSummernote('#content');

    // Fetch dữ liệu từ API
    $.getJSON('http://localhost:3001/chitietbaiviet', function(data) {
        // Giả sử bạn chỉ cần bài viết đầu tiên
        const post = data.data[0];

        // Đổ dữ liệu vào form
        $('#add-id').val(post.id); // id
        $('#title').val(post.title); // Tiêu đề
        $('#orderIndex').val(post.orderIndex); // Số thứ tự
        $('#describle_short').val(post.news_description); // Mô tả ngắn
        $('#content').summernote('code', post.contenthtml);
        // Kiểm tra trạng thái nổi bật
        $('#is_hightlight').prop('checked', post.status_now.active); // Đánh dấu là nổi bật nếu active
    }).fail(function() {
        console.error('Lỗi khi lấy dữ liệu từ API');
    });
});
</script>