::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.logo img {
    width: 114px;
    height: 28px;
}
.margin-left-auto {
    margin-left: auto;
}
.col-form-label-default {
    font-size: 12px;
    color: #373B3E;
    font-weight: 600;
    padding: 5px 0 0 0;
}
.font-weight-normal {
    font-weight: 300 !important;
}
.c-pointer {
    cursor: pointer;
}
.table td {
    border-top: none !important;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.callout-custom {
    padding: 1.25rem;
    margin-block-start: 1.25rem;
    margin-block-end: 1.25rem;
    background-color: #fafafa;
    border-inline-start: 0.25rem solid #909294;
}
.float-inline-end {
    float: inline-end;
}
.modal-dialog {
    margin-top: 25vh;
}