@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tin dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}


<div class="content container-fluid">
    <div class="card">
        <div class="content container-fluid">
            <div class="contact-profile">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <h3 class="page-title">Tra cứu và báo cáo</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Tin dịch vụ</li>
                        </ul>
                    </div>
                   <div class="col-md-8 float-end ms-auto">
                        <div class="d-flex title-head">
                            <button class="text-white border-secondar bg-secondary rounded btn btn-sm mx-1"  onclick="window.history.back()"><i class="fa-solid fa-arrow-left"></i> Quay lại</button>

                            @* <a href="/admin/servicesnews/create" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addModal"><i class="la la-plus-circle"></i>  Thêm mới</a> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Tableeeeeeeeeeeeeeeeeeeeeeee *@
    
    <div class="card" style="margin-top: -8px;">
        <div class="content container-fluid">
            <div class="row filter-row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                    <div class="input-block mb-3 form-focus">
                        <input type="text" name="tenDichVu" class="form-control floating" />
                        <label class="focus-label">Tên dịch vụ</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12" data-select2-id="select2-data-15-1mi6">
                    <div class="input-block mb-3 form-focus select-focus focused" data-select2-id="select2-data-14-w6xt">
                        <select name="nhomDichVuCha" class="select floating select2-hidden-accessible" data-select2-id="select2-data-1-aqy1" tabindex="-1" aria-hidden="true">
                           <option  value="">---Lựa chọn---</option>
                            <option id=74 value="1">ISO123</option>
                            <option id=75 value="2">ISO234</option>
                        </select>
                       
                        <label class="focus-label">Nhóm dịch vụ cha</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                    <div class="input-block mb-3 form-focus select-focus focused">
                        <select name="trangThai" class="select floating select2-hidden-accessible" data-select2-id="select2-data-4-dijy" tabindex="-1" aria-hidden="true">
                            <option value="">---Lựa chọn---</option>
                            <option value="true">Xuất bản</option>
                            <option value="false">Ngừng xuất bản</option>
                        </select>
                       
                        <label class="focus-label">Trình trạng</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                    <div class="input-block mb-3 form-focus focused">
                        <div class="cal-icon">
                            <input name="fromDate" class="form-control floating datetimepicker" type="text" />
                        </div>
                        <label class="focus-label">From</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                    <div class="input-block mb-3 form-focus focused">
                        <div class="cal-icon">
                            <input name="toDate" class="form-control floating datetimepicker" type="text" />
                        </div>
                        <label class="focus-label">To</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                    <a id="filter-btn" href="#" class="btn btn btn-success w-100 px-5 fw-bold" > Lọc </a>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped table-bordered fw-bold" style="width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th>STT</th>
                                    <th>Nhan đề</th>
                                    <th>Nhóm nội dung</th>
                                    <th>Ngày tạo</th>
                                    <th style="width: 150px;">Trạng thái</th>
                                    <th style="width: 100px;">Tình trạng</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/js/jquery-3.7.1.min.js"></script>

<script>
        $(document).ready(function(){
    // Khởi tạo DataTable
    var table = $('#myTable').DataTable({
                ajax: {
                    url: 'http://localhost:3001/danhsachtatcatindichv', // Đường dẫn đến file JSON
                    dataSrc: 'data.data', // Cập nhật để lấy dữ liệu từ `data.data`
                    data: function(d) {
                        // Lấy giá trị của các trường lọc và gửi chúng kèm với yêu cầu Ajax
                       
                        d.tenDichVu = $('input[name="tenDichVu"]').val();
                        d.nhomDichVuCha = $('select[name="nhomDichVuCha"]').val();
                        d.trangThai = $('select[name="trangThai"]').val();
                        d.fromDate = $('input[name="fromDate"]').val();
                        d.toDate = $('input[name="toDate"]').val();
                         console.log( d.tenDichVu, d.nhomDichVuCha,d.trangThai,d.fromDate, d.toDate)
                    }
                },
                columns: [
                    { data: 'id', render: function(data) { return '<div class="text-center">' + data + '</div>'; } },
                    { data: 'title' },
                    { data: 'contentTitle' },
                    {
                        data: 'create_at',
                        render: function(data) {
                            if (!data) return '';
                            var date = new Date(data);
                            return isNaN(date.getTime()) ? '' : date.toLocaleDateString('vi-VN');
                        }
                    },
                    {
                        data: 'status_now.status',
                        render: function(data) {
                            let color, borderColor, statusText;
                            switch (data) {
                                case 0: color = 'text-warning'; borderColor = 'border-warning'; statusText = 'Chưa hoàn thành'; break;
                                case 1: color = 'text-secondary'; borderColor = 'border-secondary'; statusText = 'Chờ duyệt'; break;
                                case 2: color = 'text-success'; borderColor = 'border-success'; statusText = 'Duyệt thành công'; break;
                                case 3: color = 'text-danger'; borderColor = 'border-danger'; statusText = 'Từ chối'; break;
                                default: color = 'text-secondary'; borderColor = 'border-secondary'; statusText = 'Chưa xác định';
                            }
                            return `<div class="d-flex align-items-center ${color} p-1 border ${borderColor} rounded fw-bold"><i style="font-size: 5px !important;" class="fa-solid fa-circle px-1"></i><span>${statusText}</span></div>`;
                        }
                    },
                    {
                        data: 'siginificant',
                        render: function(data) {
                            let color, borderColor, statusText;
                            switch (data) {
                                case true: color = 'text-white'; borderColor = 'bg-success'; statusText = 'Xuất bản'; break;
                                case false: color = 'text-white'; borderColor = 'bg-danger'; statusText = 'Ngừng xuất bản'; break;
                                default: color = 'text-secondary'; borderColor = 'border-secondary'; statusText = 'Chưa xác định';
                            }
                            return `<div class="d-flex align-items-center ${color} p-1 border ${borderColor} rounded fw-bold"><span>${statusText}</span></div>`;
                        }
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function(data, type, row) {
                            return `
                                <div class="dropdown">
                                    <button class="" type="button" id="actionMenu" data-bs-toggle="dropdown" aria-expanded="false" style="border:none;background-color:inherit">
                                        <i class="fa-solid fa-ellipsis-vertical fs-5" style="color: #000000;"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="actionMenu">
                                        <li class="d-flex align-items-center"><a class="dropdown-item btn-edit" data-id="${row.id}"><i class="fa-solid fa-pen mx-1" style="color: #0c0d0d;"></i>Chi tiết</a></li>
                                    </ul>
                                </div>
                            `;
                        }
                    }
                ]
            });

            // Xử lý khi người dùng nhấn nút Lọc
            $('#filter-btn').on('click', function(e) {
                e.preventDefault();
                console.log(12)
                table.ajax.reload(); // Tải lại DataTable với dữ liệu lọc
            });

    // Xử lý sự kiện Sửa
  $('#myTable').on('click', '.btn-edit', function() {
    var id = $(this).data('id');
    // Chuyển hướng đến trang edit với ID của item, sử dụng URL tương đối
    window.location.href = `/admin/servicesnews/edit/${id}`;
});

    // Xử lý sự kiện Xóa
    $('#myTable').on('click', '.btn-delete', function() {
        var id = $(this).data('id');
        // Thêm logic để xóa
        console.log('Xóa item ID:', id);
    });


        });
</script>



